
.upper{
    background: url('/src/imgs/jeshoots-com-mSESwdMZr-A-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -10%;
    height: 800px;
}


